doctype html
html(lang="zh-tw")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="initial-scale=1")
        meta(name="description" content="")
        meta(name="keywords" content="")
        meta(content="", property="og:site_name")
        meta(content="" property="og:title")
        meta(content="" property="og:description")
        meta(content="" property="og:url")
        meta(content="website" property="og:type")
        meta(content="" property="og:image")
        meta(content="image/png" property="og:image:type")
        
        link(rel="stylesheet" type="text/css" href="./css/main.css")

        title


    body
    
    script(src="./js/jquery-2.1.4.min.js")
    script(src="./js/main.js")














